@model IEnumerable<attendance.Models.personal_schedule>

@{
    ViewBag.Title = "Personal Schedule";
}

<h2>Personal Schedule</h2>

<button type="button" class="btn btn-primary">
    @Html.ActionLink("Create New", "Create", null, new { style = "color:white" })
</button>
<br>
<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SheduleEnd)
        </th>
        <th> Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SheduleEnd)
        </td>
        <td>
            <button class="btn btn-success">
                @Html.ActionLink("Edit", "Edit",  new { id = item.PersinalScheduleID, style = "color:white" }, new { style = "color:white" })
            </button>
            <button class="btn btn-warning">
                @Html.ActionLink("Details", "Details", new { id = item.PersinalScheduleID, style = "color:white" }, new { style = "color:white" })
            </button>
            <button type="button" class="btn btn-danger">
                @Html.ActionLink("Delete", "Delete", new { id = item.PersinalScheduleID }, new { style = "color:white" })
            </button>
</td>
</tr>
}

</table>
