@model IEnumerable<attendance.Models.signature>

@{
    ViewBag.Title = "Signature";
}

<h2>Signature</h2>

<button type="button" class="btn btn-primary">
    @Html.ActionLink("Create New", "Create", null, new { style = "color:white" })
</button>
<br />
</br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.punch_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.punch_time)
        </th>
        <th> Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.punch_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.punch_time)
        </td>
        <td>
            <button type="button" class="btn btn-success">
                @Html.ActionLink("Edit", "Edit",  new { id = item.pin},new { style="color:white"})
            </button>
            <button type="button" class="btn btn-warning">
                   
                    @Html.ActionLink("Details", "Details", new { id = item.pin }, new { style = "color:white" })
                </button>

                <button type="button" class="btn btn-danger">
                    @Html.ActionLink("Delete", "Delete", new { id = item.pin }, new { style = "color:white" })
                </button>
</td>
    </tr>
}

</table>
